* {
    margin: 0px;
    padding: 0px;
}
html{
    height: 100%;
}
body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100%;
}

/*========================
          Layout
==========================*/

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 180px 1fr;
}

.dashboard {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mid_icons,
.bottom_icons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px 30px;
}

.upper,
.lower,
.search_container,
.notification_container,
.header_text,
.header_buttons {
    display: flex;
    align-items: center;
}

.upper,
.lower {
    justify-content: space-between;
    gap: 10%;
}

.search_container,
.notification_container,
.header_text,
.header_buttons {
    gap: 25px
}

.header_text {
    max-height: 80px;
}

.search_container {
    flex-grow: 1;
}

.content {
    padding-left: 2rem;
    padding-bottom: 4rem;
    

    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 300px;
}

.content_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-top: 1.8rem;
}

.projects {
    grid-column: 1 / 2;

    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: stretch;
}

.card  {
    border-radius: 15px;
    padding-right: 20px;

    display: grid;
    grid-template-columns: 20px 20px 1fr;
    grid-template-rows: 20px 1fr 20px 20px;
}

.orange_side {
    grid-row: 1 / 5;
}

.text_container {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.card .icons {
    display: flex;
    align-self: end;
    justify-self: flex-end;
    gap: 1rem;

    grid-row: 3 / 4;
    grid-column: 3 / 4 ;
}

.announce_trend {
    grid-column: 2 / 3;
    padding-top: 1.8rem;
    padding-right: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.announcement,
.trending {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcement_content_container,
.trending_content_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1.5rem;
}

.trending_content_container > .item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/*========================
          Stylings
==========================*/

.dashboard {
    background-color: #1992D4;
    padding: 20px;
}

.header {

}

.lower h5 {
    word-wrap: break-word;
}

.header_buttons a {
    background-color: #1992D4;
    padding: 0.8rem 2rem;
    border-radius: 20px;
}

input {
    min-height: 1.5rem;
    padding-left: 40px;    
    flex-grow: 1;

    border-radius: 30px;
    border-width: 0px;
    background-color: #E2E8F0;
}

.content {
    background-color: #E2E8F0;
}

.projects {
    
}

.announce_trend {
    
}

.card {
    min-width: 200px;
    height: 200px;

    background-color: #FFFFFF;
}

.orange_side {
    height: 100%;
    background-color: #F0B429;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.dashboard a {
    text-decoration: none;
    color: rgb(39, 37, 37);

    display: flex;
    align-items: center;
    gap: 20px;
}

.announcement_content_container,
.trending_content_container {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.announcement_content_container > .item {
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 1rem;
}

.announcement_content_container > .item:last-child {
    border: none;
}

.trending_content_container > .item > .photo {
    width: 3rem;
    height: 3rem;
    background-color: #1992D4;
    border-radius: 50%;
}

/*========================
          Typography
==========================*/

h6 {
    font-size: 1rem;
    font-weight: bold;
}

h5 {
    font-size: 1.5rem;
}

.header_text span {
    font-size: large;
}

.lower a {
    text-decoration: none;
    color: black;
}

.header_buttons a {
    font-size: 1rem;
    font-weight: 900;
}

.dashboard a h6 {
    font-size: 1rem;
    font-weight: bold;
}

.dashboard a h5 {
    font-size: 2rem;
    font-weight: 900;
}

a:hover {
    color: #F0B429;
    opacity: 65%;
}

.dashboard a:hover,
.header_buttons a:hover {
    color: #FFFFFF;
    opacity: 100%;
}

.announcement_content_container p,
.trending_content_container p {
    color: #4b4b4b;
}

.trending_content_container span {
    font-weight: 900;
    color: black;
}